@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap");

$base-font-family: "Lato", sans-serif;

$small-font-title-size: 1.2em;
$medium-font-title-size: 1.3em;
$big-font-title-size: 2em;

$base-black-font: #2b2b2b;
$base-yellow: #f0af02;
$base-green: #63b76a;
$base-light-blue: #7cc7bd;
$base-blue: #3e9b9b;
$base-pink: #f8afb2;
$base-orange: #d45715;
$base-baige: #f6e8cc;

$light-yellow: #fcf1da;

$rgba-base-green: rgba(99, 183, 106, 0.6);

$base-border-radius: 15px;

@keyframes wiggle {
  0% {
    transform: rotate(-0.2deg);
  }

  20% {
    transform: rotate(0.1deg);
  }

  40% {
    transform: rotate(-0.2deg);
  }

  60% {
    transform: rotate(0.1deg);
  }

  90% {
    transform: rotate(-0.2deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@mixin page-container {
  width: 95%;
  max-width: 400px;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto 0;
}

@mixin section-header($bck-color, $txt-color, $border-declaration: none) {
  text-align: center;
  font-size: $medium-font-title-size;
  background-color: $bck-color;
  color: $txt-color;
  padding: 0.5em;
  border-bottom-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  border: $border-declaration;
  border-top-style: none;
  margin-bottom: 1em;
}
