.dashboard-page-container {
    @include page-container;
    
    .welcome-dashboard-section,
    .rules-dashboard-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 35%;
    }

    .welcome-dashboard-section {
        &__hello-txt {
            font-size: 2em;
        }
        &__app-description-txt {
            text-align: center;
            padding-top: 1em;
        }
    }

    .rules-dashboard-section {
        border-radius: $base-border-radius;
        background-color: $base-orange;
        padding: 0 2em 1em;
        color: $base-baige;
        font-weight: bold;
        margin-bottom: 1em;

        &__rules-title {
            background-color: $base-baige;
            color: $base-orange;
            padding: 0.5em;
            border-bottom-right-radius: $base-border-radius;
            border-bottom-left-radius: $base-border-radius;
        }

        li {
            padding-bottom: 0.25em;
        }
    }

    .anchor-dashboard-section {
        text-align: center;
    }
}