.all-techniques-container,
.body-choice-techniques-container,
.no-touch-techniques-container {
  @include page-container;

  .all-techniques-title,
  .body-choice-techniques-title,
  .no-touch-title {
    @include section-header(
      $base-pink,
      $base-black-font,
      1px solid $base-black-font
    );
    transform: translate(0, -29px);
    width: 85%;
    align-self: center;

    &--after-choice {
      transform: translate(0, 0);
      margin-bottom: 0;
    }
  }

  .choosen-body-part-techniques-section {
    padding-bottom: 2em;
    border-bottom: 1px solid $base-black-font;
  }

  .body-choice-techniques-buttons-section {
    &--after-choice {
      align-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 0.75em;

      .gasa-app-button {
        font-size: small;
      }
    }
  }

  .techniques-for-body-area-section,
  .info-area-section {
    .body-area-title,
    .info-area-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
    }
  }

  .single-technique-element,
  .no-touch-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 1em;
    margin-bottom: 1em;
    border: 1px solid $base-black-font;
    border-radius: $base-border-radius;

    &__technique-title {
      text-transform: uppercase;
      font-size: $medium-font-title-size;
      text-align: center;
    }

    &__technique-image {
      height: auto;
      max-height: 200px;
      max-width: 100%;
      margin: 1em 0;
    }

    &__technique-txt {
      padding: 1em;
      line-height: 1.75;

      p {
        padding-bottom: 0.75em;
      }
    }
  }
}

.body-choice-techniques-questionmark {
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.point-hand-wrist-container {
  height: 60px;
  transform: rotate(-90deg) scale(1, -1);
  transition: transform 0.5s ease-in-out;
}

.body-area-title {
  &__inbox {
    display: none;

    &:checked + .body-area-title__label > .point-hand-wrist-container {
      transform: rotate(-135deg) scale(1, -1);
    }
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

    &:hover {
      font-weight: 700;

      & .point-hand-wrist-container {
        transform: rotate(-105deg) scale(1, -1);
      }
    }
  }
}

.component {
  background-color: white;
  // width: 25%;
  max-width: 600px;
  margin: 1em auto;
  padding-bottom: 2em;
  border: 0.1px solid black;
  border-radius: 10px;

  text-align: center;
}

.musicCover {
  border-radius: 10%;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.subTitle {
  // margin-top: -1em;
  color: #4f4f4f;
}

.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
}

.timeline {
  width: 80%;
  background-color: #27ae60;
}

input[type='range'] {
  background-color: #27ae60;
}
