.all-techniques-container,
.body-choice-techniques-container {
  @include page-container;

  .all-techniques-title,
  .body-choice-techniques-title {
    @include section-header(
      $base-pink,
      $base-black-font,
      1px solid $base-black-font
    );
    transform: translate(0, -29px);
    width: 85%;
    align-self: center;
  }

  .body-choice-techniques-buttons-section {
    &--after-choice {
      transform: translate(0, -30px);
      align-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 0.75em;

      .gasa-app-button {
        font-size: small;
      }
    }
  }

  .techniques-for-body-area-section {
    .body-area-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
    }
  }

  img {
    max-width: 380px;
  }
}

.point-hand-wrist-container {
  height: 60px;
  transform: rotate(-90deg) scale(1, -1);
}

// .block-with-faq {
//     input {
//       position: absolute;
//       opacity: 0;
//       z-index: -1;

//       &:checked {
//         + .tab__label {
//           &::after {
//             transform: rotate(-35deg);
//           }
//         }
//         ~ .tab__content {
//           max-height: 100vh;
//           padding: 1em;
//         }
//       }
//     }

//     &__faq-tabs {
//       border-radius: 5px;
//       overflow: hidden;
//     }

//     .tab {
//       width: 100%;
//       color: white;
//       overflow: hidden;

//       &__label {
//         display: flex;
//         justify-content: space-between;
//         padding: 1em;
//         background: green;
//         font-weight: bold;
//         cursor: pointer;

//         &::after {
//           content: "";
//         //   background: left center / 3.5rem 1rem no-repeat url(../img/komponent-palec.png);
//           width: 3.5rem;
//           height: 1rem;
//           text-align: center;
//           transition: all .35s;
//         }
//       }

//       &__content {
//         max-height: 0;
//         padding: 0 1em;
//         color: black;
//         background: pink;
//         transition: all .35s;
//       }
//     }
// } // from gase book www
